

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


/*
Para seleccionarlas, revise: https://getbootstrap.com/docs/5.1/customize/css-variables/
*/

:root {
    --bs-body-font-family: "Lora", serif;
    --bs-body-font-size: 0.8rem;
    --bs-body-font-weight: 500;
    --bs-blue: #0d6efd;
}

/*
Si el peso de la fuente para sus títulos y negrita es distinto de 600, 
indique cuál sería (ver pesos de fuente importada)
*/

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 500;
}


Referencia útil: https://www.adslzone.net/como-se-hace/photoshop/guardar-imagen-para-web/
En tal referencia se mencionan las alternativas https://squoosh.app/ y https://tinypng.com/


#fondo-con-imagen {
    height: 70vh;
    background-image: url("img/perrocallejero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
svg {
    position: center;
}
